<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/libraryhibernate</property>
        <property name="hibernate.connection.username">postgresMaster</property>
        <property name="hibernate.connection.password">goPostgresGo</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <property name="hibernate.current_session_context_class">thread</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>

        <!--update, create-drop, none, validate, create-->

        <mapping class="org.example.model.Book"/>
        <mapping class="org.example.model.Author"/>
        <mapping class="org.example.model.User"/>
    </session-factory>
</hibernate-configuration>
